<div class="container">
    <p>Nova Lista</p>

    <button class="btn btn-primary" (click)="getListaTodoService()">Recuperar lista</button>
    <button class="btn btn-success" (click)="popUpAdicionarNovaLista()">Adicionar lista</button>

   
</div>

<div class="container">
    <p>Nova Tarefa</p>

    <button class="btn btn-primary" (click)="getTarefasTodoService()">Ver tarefas</button>
    <button class="btn btn-success" (click)="adicionarNovaTarefa()">Adicionar Tarefa</button>
    <button class="btn btn-warning" (click)="editarNovaTarefa()">Editar Tarefa</button>
    <button class="btn btn-danger" (click)="excluirNovaTarefa()">excluir Tarefa</button>
   
</div>

